/*-------------------Colors

#2B2D42 - DARK BLUE
#8D99AE - LIGHT BLUE
#EDF2F4 - BLUE TO WHITE
#EF233C - RED

#d7d5bc - 膚色

-------------------*/

/*-------------------Global sytles--------------------*/
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
}

h1, h2 {
    font-family: 'caveat', cursive;
    font-weight: 400;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
    margin-top: 0;
}
h3{
    margin:0;
}

h6{
    margin-top: 10px;
    margin-bottom: 0px;
}

/*------------------------------------------------Navigation---------------------------------------------------*/

nav {
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    top: 0;
}

nav a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    color: #2B2D42;
}

@media (min-width: 440px) {
    nav a {
        margin: 14px;
        font-size: 16px;
    }
}

/*--------------------------------------------Header only-------------------------------------------------*/

header{
    position: relative;
    padding-top: 50px;
    text-align: center;
    background-color: #d7d5bc;
    background-image: url("./maomao.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

header h1, header h2 {
    color: #ffffff;
}

h1{
    margin: 0;
}

.content-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 60px 50px;
    max-width: 950px;
    overflow: hidden;
}

@media (min-width: 935px) {
    .content-wrap{
        flex-direction: row;
    }
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (min-width: 440px) {
    .profile-img {
        width: 200px; 
        height: 200px;
    }
}

@media (min-width: 935px) {
    .profile-img {
        width: 250px; 
        height: 250px;
    }
}


/*----------------------------------------Portfolio-------------------------------------------------*/

.Portfolio {
    display: flex;
    background-color:#EDF2F4;
    justify-content: space-evenly;
    flex-wrap: wrap;
    vertical-align: top;
    padding: 80px 150px 0px;
}

.Portfolio h6{
    font-family: 'caveat', cursive;
    font-weight: 400px;
    font-size: 30px;
}

.Portfolio div {
    width: 330px;
    height: 720px;
    text-align: center;
}

.Portfolio img {
    width: 100%;
    height: 70%;
    border-radius: 30px;
    object-fit: cover;
}

.Portfolio p {
    font-size: 14px;
    line-height: 1.6em;
    text-align: justify;
}

/*----------------------------------------Portfolio@MEDIA-------------------------------------------------*/

@media screen and (max-width: 935px) {
    .Portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    .Portfolio div {
        margin-bottom: 30px;
    }
    .Portfolio img {
        width: 100%;
    }

    .Portfolio h6{
        font-family: 'caveat', cursive;
        font-weight: 400px;
        font-size: 30px;
    }

}


/*----------------------------------------Portfolio_2-------------------------------------------------*/

.Portfolio_2 {
    display: flex;
    margin: 30px 20px 30px;
}

.Portfolio_2 img {
    width: 50%;
    height: 100%;
}

.Info {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Info h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.Info p {
    text-align: center;
    width: 45%;
    line-height: 2em;
}


@media screen and (max-width: 935px) {
    .Portfolio_2 {
        flex-direction: column;
    }
    .Portfolio_2 img {
        width: 100%;
    }
    .Info {
        width: 100%;
        padding: 40px 0;
    }
    .Info h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }
}



/*--------------------------------------------Footer---------------------------------------------------*/

footer {
    text-align: center;
    background-color: #232426;
    color: #ffffff;
    font-size: 10px;
}

.contact-wrapper {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 900px;
}

.contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #8D99AE solid 2px;
}

.media-pic:hover {
    transform: scale(1.1);
}

.p+h3 {
    margin-top: 30px;
}

.footer p {
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: white;
}
