/*-------------------Colors

#2B2D42 - DARK BLUE
#8D99AE - LIGHT BLUE
#EDF2F4 - BLUE TO WHITE
#EF233C - RED

#d7d5bc - 膚色

-------------------*/

/*-------------------Global sytles--------------------*/
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
}

h1, h2 {
    font-family: 'caveat', cursive;
    font-weight: 400;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 25px;
    margin: 20px auto;
}
h3{
    margin:0;
}

h6{
    margin-top: 10px;
    margin-bottom: 0px;
}

/*------------------------------------------------Navigation---------------------------------------------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(0, 0, 0);
}

li {
    list-style: none;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 0px;
    z-index: 1;
}

.nav-menu {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 60px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.nav-item {
    font-size: 15px;
}


.hamburger {
    background-color: rgba(128, 128, 128, 0.5); /* 這裡的顏色和透明度可以根據需求進行調整 */
    border-radius: 5px; /* 調整邊角的圓角程度 */
    padding: 5px;
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: fixed;
        top: 7px;
        left: 15px; 
        
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        position: fixed;
        width: 100%;
        align-items: center;
        padding: 27px;
        background-color: #ffffff;
        z-index: 1;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 52px;
        gap: 0;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }
    
    .nav-menu.active {
        left: 0;
    }

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 20px;
    }
}


/*--------------------------------------------Header only-------------------------------------------------*/

header{
    position: relative;
    padding-top: 0px;
    text-align: center;
    background-color: #d7d5bc;
    background-image: url("./resource/HEADER/毛毛大頭.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

header h1, header h2 {
    color: #ffffff;
}

h1{
    margin: 0;
}

.content-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 60px 50px;
    max-width: 950px;
    overflow: hidden;
    gap: 60px;
}

.col-wide {
    width: 100%;
    margin-top: 25px;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 25px;
}

@media (min-width: 935px) {
    .content-wrap{
        flex-direction: row;
    }
}

@media (max-width: 440px) {
    .profile-img {
        width: 200px; 
        height: 200px;
    }
}

@media (min-width: 935px) {
    .profile-img {
        width: 250px; 
        height: 250px;
    }
}

/*----------------------------------------Portfolio-------------------------------------------------*/

.Portfolio {
    display: flex;
    background-color:#EDF2F4;
    justify-content: space-evenly;
    flex-wrap: wrap;
    vertical-align: top;
    padding: 50px 80px 50px;
}

.Portfolio h6{
    font-family: 'caveat', cursive;
    font-weight: 400px;
    font-size: 20px;
    margin: 20px auto;
}

.Portfolio div {
    width: 350px;
    height: 600px;
    text-align: center;
}

.Portfolio img {
    margin-top: 30px;
    width: 100%;
    height: 60%;
    border-radius: 30px;
    object-fit: cover;
}

.Portfolio p {
    font-size: 14px;
    line-height: 1.6em;
    text-align: justify;
}

/*----------------------------------------Portfolio@MEDIA-------------------------------------------------*/

@media screen and (max-width: 935px) {
    .Portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .Portfolio img {
        width: 100%;
    }
}


/*----------------------------------------Portfolio_2-------------------------------------------------*/

.Portfolio_2 {
    position: relative;
    display: flex;
    margin: 30px 20px 30px;
}

.Portfolio_2 img {
    width: 850px;
    height: 600px;
}

.Info {
    width: 50%;
    background-color: rgb(238, 237, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
}

.Info h2 {
    width: 80%;
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

.Info p {
    text-align: justify;
    width: 70%;
    line-height: 2em;
}

.獸醫法結論 {
    color: red;
}

.Portfolio_2 button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
}

.Prev {
    left: 0;
}

.Next {
    right: 42.55%;
}


@media screen and (max-width: 1250px) {
    .Portfolio_2 {
        flex-direction: column;
    }
    .Portfolio_2 img {
        width: 100%;
        height: 250px;
    }
    .Info {
        width: 100%;
        padding: 50px 5px;
    }

    .Info p {
        width: 80%;
    }

    .Portfolio_2 button {
        top: 13.5%;
    }
    
    .Prev {
        left: -15.5px;
    }
    
    .Next {
        right:-15.5px;
    }

}

/*--------------------------------------------Footer---------------------------------------------------*/

footer {
    text-align: center;
    background-color: #232426;
    color: #ffffff;
}

.footer_h2 {
    font-size: 40px;
}

.contact-wrapper {
    margin: 0 auto;
    padding: 20px 0 50px;
    max-width: 900px;
}

.contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.media-pic {
    width: 50px;
    height: 50px;
}

.media-pic:hover {
    transform: scale(1.1);
}

.p+h3 {
    margin-top: 30px;
}

.footer p {
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 440px) {
    .footer_h2 {
        font-size: 30px;
    }
    .media-pic {
        width: 50px;
        height: 50px;
    }
}

